@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

body {
    transition: background-color 0.2s ease;
    text-align: center;
    background-color: #e0e0e0;
}

#current-color {
    font-size: 120px;
    margin-top: 150px !important;
    font-family: monospace;
    text-shadow: 2px 2px 0 #fff;
}

.colors {
    position: absolute;
    margin-top: 50px;
    bottom: 90px;
    width: 100%;
}

.colors button {
    margin: 0 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 7px solid #fff;
}

button.active {
    border-color: green !important;
}
